{% extends "base.html" %}{% load i18n %}
{% block extrahead %}
<style type="text/css">
#demo2 {
 margin:10px;
 width:400px;
 height:100%;
 overflow:scroll;
 float:left;
}

#track_list {
 margin:10px;
 width:400px;
 height:100%;
 overflow:scroll;
 float:left;
}
#map_canvas {
 width:600px;
 height:100%;
 float:left;
}
</style>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/static/js/jquery/jquery-1.6.2.js"></script>
<script type="text/javascript" src="/static/place/js/api.js"></script>
<script type="text/javascript" src="/static/place/js/place.js"></script>
<script type="text/javascript">
var map;
var features = {};
var features_size = 0;
var images = {};
images['Startpoint'] = "/static/place/images/pin-yellow.png";
images['Endpoint'] = "/static/place/images/pin-blue.png";
images['Trackpoint'] = "/static/place/images/pin-red.png";
images['Spot'] = "/static/place/images/pin-green.png";


function initialize() {
  var latlng = new google.maps.LatLng(60.17, 24.94);
  var myOptions = {
    zoom: 8,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById("map_canvas"),
                            myOptions);
  google.maps.event.addListener(map, 'mousemove', mouseMove);
  google.maps.event.addListener(map, 'click', getSpots);
}

// Testing mouse coordinates
function mouseMove(event) {
  var coords = event.latLng.lat() + "," + event.latLng.lng()
  $("#mousecoord").html(coords);
}

function getSpots(event) {
 // alert(event.latLng.lat())
  var data_obj = {"lat":event.latLng.lat(), "lon":event.latLng.lng()}
  api_call('spot_nearby_get', data_obj, drawFeatures)
  // api_spot_nearby_get(data_obj, drawFeatures)
}

function validateGeoData(data) {
  if (data.geojson == undefined) { return false; }
}

/**
 * Draws all features found in data.geojson.features array
**/
function drawFeatures(data) {
  if (validateGeoData(data) == false) {
    alert("Invalid response from server: "  + data.status + "/" + data.message)
  }
  var geo = data.geojson;
  var bounds;
  for (var i in geo.features) {
    var feature = geo.features[i];
    var geometry = feature.geometry;
    if (geometry.type == "LineString") { // Draw LineString
      if (feature.bbox) {
        var southWest = new google.maps.LatLng(feature.bbox[1], feature.bbox[0]);
        var northEast = new google.maps.LatLng(feature.bbox[3], feature.bbox[2]);
        bounds = new google.maps.LatLngBounds(southWest,northEast);
        map.fitBounds(bounds);
      }
      var trackCoordinates = [];
      for (i in geometry.coordinates) {
        trackCoordinates.push(new google.maps.LatLng(geometry.coordinates[i][1], geometry.coordinates[i][0]));
      }
      var newTrack = new google.maps.Polyline({
        path: trackCoordinates,
        strokeColor: "#FF0000",
        strokeOpacity: 1.0,
        strokeWeight: 2
      });
      newTrack.setMap(map);
      newTrack.id = feature.id;
      var key = "track_" + feature.id;
      map_delete_feature(key);
      features[key] = newTrack;
      features_size++;
      /*
      google.maps.event.addListener(newTrack, 'click', function(event) {
        api_trackseg_points_get(newTrack.id, drawFeatures);
      });
      */
      var p = feature.properties;
      var duration = parseInt(p.duration/60) + ":" + p.duration%60 + " min ";
      var text = p.starttime + " " + duration + p.length_km + " km " + p.title + " ";
      $('<div>'+text+'</div>').prependTo('#feature_list');
      // alert(feature.properties.title);
    } else if (geometry.type == "Point") { // Draw Point
      var latLng = new google.maps.LatLng(geometry.coordinates[1], geometry.coordinates[0]);
      var title = feature.properties.title + " " + feature.id;
      //var marker = placeMarker(latLng, images[feature.properties.name], title);
      var marker = placeTrackpointMarker(latLng, images[feature.properties.name], title, feature.id);
      var key = "trackpoint_" + feature.id;
      map_delete_feature(key);
      features[key] = marker;
      features_size++;
      // console.log(feature.properties.name)
    } else {
      console.log("Not supported %s", geometry.type)
    }
  }
  $("#feature_cnt").html(features_size);
}

function placeTrackpointMarker(location, image, title, id) {
  var marker = new google.maps.Marker({
      position: location,
      map: map,
      title: title,
      icon: image
  });
  // google.maps.event.addListener(marker, 'click', function() {alert("moi");});

  var contentString = "<a href='javascript:void(0)' onclick='api_trackpoint_status_set({id: "+ id + ", status: -1}, xxxxxxxxxxx);'>Disable</a> | ";
  contentString += "<a href='javascript:void(0)' onclick='api_trackpoint_get("+ id + ", updateTrackpoint);'>Get details</a>";
  var infowindow = new google.maps.InfoWindow({
    content: contentString
  });
  google.maps.event.addListener(marker, 'click', function() {
    infowindow.open(map, marker);
  });
  return marker;
}



function placeMarker(location, image, title) {
  var marker = new google.maps.Marker({
      position: location,
      map: map,
      title: title,
      icon: image
  });
  return marker;
}

function drawFeaturesMulti(data) {
  var ids = data['trackids'];
  for (i in ids) {
  var id = ids[i];
    api_trackseg_get(id, drawFeatures);
  }
}

function map_delete_feature(key) {
   if (features[key]) {
    features[key].setMap(null);
    features[key] = null;
    delete features[key];
    features_size--;
  }
}

function map_clear_features() {
  for (i in features) {
  // this could call map_delete_feature(i)
    features[i].setMap(null);
    features[i] = null;
    delete features[i];
    features_size = 0;
  }
}

$(function(){
  // Document is ready
  initialize();
});

</script>
{% endblock %}

{% block content %}
<div id="nukeall_link">
<a href="javascript:void(0);" onclick="map_clear_features();">Nuke all</a> <span id="feature_cnt">0</span><br/>
</div>

<div id="mousecoord">0,0</div>
{% comment %}
<div id="demo2">Filters<br/>
<ul>
 <li>Realms</li>
 <li>New Realm</li>
 <li>New Spot</li>
 <li>New Area</li>
</ul>
{% for r in realms %}
<input type="checkbox" name="realm" value="{{ r.id }}"/>{{ r.name }}<br/>
{% endfor %}
{{ mapform.as_p }}
</div>
{% endcomment %}

<div id="map_canvas"></div>
<div id="feature_list"></div>
{% endblock %}
